@CHARSET "UTF-8";

.divPrincipal {
	margin-top: 15px;
	margin-left: 48px;
}

#divPrincipalConfiguracao {
	position: absolute;
	margin-top: 25px;
	margin-left: 20px;
}

#divConfCampeonatos {
	position: absolute;
	background-color:#CDC8B1;
	margin-top: 25px;
	margin-left: 335px;
	border: 1px solid black;
	width: 1000px;
	height: 440px;
}

#divBotoesTime {
	position:absolute;
	margin-top: 22px;
	margin-left: 438px;
}

#divBotoesJogador {
	position:absolute;
	margin-top: 15px;
	margin-left: 435px;
}

#divBotoesConfiguracao {
	position: absolute;
	margin-top: 430px;
	margin-left: 20px;
}

.botoesPaginaHome {
	margin-top: 20px;
}

#divTableTime {
	margin-top: 70px;
	margin-left: 132px;
	width: 605px;
}

#divTableJogador {
	position:absolute;
	margin-top: 68px;
	margin-left: 437px;
	width: 530px;
}

#divTablePontosCorridos {
	margin-top: 10px;
	width: 680px;
	font-style: bold;
}

.cellGridFormLabel {
    width: 30px;
}

.cellGridFormLabel1 {
    width: 80px;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

#divBotaoNavegarCampeonato {
	margin-top: 15px;
	margin-left: 134px;
}

#divCentralCampeonato {
	margin-top: 100px;
	margin-top: -15px;
}

#labelTorneio {
	font-size: 36px;
	margin-top: 0px;
}

.botoesPaginaCampeonato {
	width: 280px;
	height: 45px;
	
}  
#titulo {
  	position : absolute;
	font-size: 65px;
	margin-left: 420px;
	margin-top: 0px;
	color: #FFFFE0;
}

